{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^[react]",
    "^@mui",
    "^@/types",
    "^@/config",
    "^@(?!/)",
    "^@/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "endOfLine": "lf"
}
